@model SecurityGuard.ViewModels.ManageUsersViewModel
@{
    ViewBag.Title = "User Management";
    //Layout = "~/Areas/SecurityGuard/Views/Shared/_SecurityGuardLayoutPage.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <div id="breadcrumb">
            @Html.ActionLink("Dashboard", "Index", "Dashboard") > Manage Users
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <div class="btn-group pull-right">
                @Html.ActionLink("Create User", "CreateUser", "Membership", new { area = "SecurityGuard" }, new { @class = "btn btn-primary" })
            </div>
            <h2>Manage User</h2>
        </div>
        <div class="ibox-content">
            <p>
                Click <span class="glyphicon glyphicon-user"></span> button to grant roles to user | To edit user click on selected username
            </p>
            <div id="grid"></div>
        </div>
    </div>
    </div>

    @section scripts{
        <script id="command-template" type="text/x-kendo-template">
            <div class="text-center">
                <a class="btn-link" href="javascript:" title="Grant Roles to User" onclick="grantRoles('#= userName #')"><span class="glyphicon glyphicon-user"></span></a>
            </div>
        </script>

        <script id="user-name-template" type="text/x-kendo-template">
            <a class="btn-link" href="@Url.Action("Update")?userName=#=userName#" title="Edit User">#=userName#</a>
        </script>

        <script type="text/x-kendo-template" id="email-template">
            <a class="btn-link" href="mailto:#=email#">#=email#</a>
        </script>
        <script type="text/javascript">

    $(function () {
        kendo.culture("id-ID");

        /**************************************************
        * Begin Kendo Grid functions
        **************************************************/
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("Binding")',
                        dataType: "json",
                        type: "POST"
                    },
                },
                schema: {
                    model: {
                        fields: {
                            lastActivity: { from: "lastActivity", type: "date" }
                        }
                    }
                },
                pageSize: 10  
            },
            sortable: true,
            resizable: true,
            filterable: kendoGridFilterable,
            pageable: true,
            columns: [
                { template: kendo.template($("#command-template").html()), title: " ", width: "50px" },
                { field: "userName", title: "UserName", template: kendo.template($("#user-name-template").html()), width: "250px" },
                {
                    field: "isApproved",
                    title: "Is Aproved?",
                    width: "150px",
                    filterable: {
                        ui: listIsApproved,
                        operators: {
                            string: {
                                eq: "Sama Dengan",
                            }
                        },
                        extra: false, 
                    }
                },
                {
                    field: "isLockedOut",
                    title: "Status",
                    width: "150px",
                    filterable: {
                        ui: listIsLockedOut,
                        operators: {
                            string: {
                                eq: "Sama Dengan",
                            }
                        },
                        extra: false,
                    }
                },
                { field: "email", title: "Email", template: kendo.template($("#email-template").html()) },
                {
                    field: "lastActivity",
                    title: "Last Activity",
                    width: "150px",
                    template: "#= kendo.toString(lastActivity, 'dd MMM yyyy hh:mm') #",
                    filterable: false
                },
            ]
        });
        /**************************************************
        * End Kendo Grid functions
        **************************************************/
    });

    function grantRoles(userName) {
        window.location.href = "@Url.Action("GrantRolesToUser")" + "?userName=" + userName;
    }

    function listIsApproved(element) {
        element.kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "caption",
            dataValueField: "value",
            dataSource: {
                transport: {
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: '@Url.Action("GenerateIsApprovedList")',
                    },
                }
            }
        });
    }

    function listIsLockedOut(element) {
        element.kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "caption",
            dataValueField: "value",
            dataSource: {
                transport: {
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: '@Url.Action("GenerateIsLockedOutList")',
                    },
                }
            }
        });
    }
        </script>
    }  
