@model WebUI.Areas.Risk.Models.RiskMitigation.RiskMitigationFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    Common.Enums.EnumHelper eh = new Common.Enums.EnumHelper();
}

@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @id = "formRiskMitigationAdd", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.MitigationId);
    @Html.HiddenFor(model => model.RiskId);
    @Html.HiddenFor(model => model.IsDeleted);
    @Html.HiddenFor(model => model.CreatedBy);
    @Html.HiddenFor(model => model.CreatedDate);

    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Form</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    @Html.LabelFor(model => model.RiskEvent, new { @class = "control-label col-lg-3" }) &nbsp;
                    <div class="col-lg-4">
                        <p class="form-control-static">@Model.RiskEvent</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MitigationPlan, new { @class = "control-label col-lg-3" }) &nbsp;
                    <div class="col-lg-4">
                        @Html.TextAreaFor(model => model.MitigationPlan, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Plan, new { @class = "control-label col-lg-3" }) &nbsp;
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.Plan, new SelectList(Model.MonthOptions, "Value", "Text"), new { @class = "form-control" })
                        @*@Html.TextBoxFor(model => model.Plan, new { @class = "form-control" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Actual, new { @class = "control-label col-lg-3" }) &nbsp;
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.Actual, new SelectList(Model.MonthOptions, "Value", "Text"), new { @class = "form-control" })
                        @*@Html.TextBoxFor(model => model.Actual, new { @class = "form-control" })*@
                    </div>
                </div>

                <div id="RiskTreatmentDetail">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Evidence, new { @class = "control-label col-lg-3" })
                        <div class="col-lg-4">
                            @Html.HiddenFor(model => model.Evidence)
                            @Html.TextBox("files", "", new { type = "file", id = "KendoUploader" })
                            @Html.ValidationMessageFor(model => model.Evidence)
                        </div >
                        @*<label class="control-label col-lg-3">Evidence</label>
                        <div class="col-lg-4">
                            <input type="file">
                        </div>*@
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, new { @class = "control-label col-lg-3" }) &nbsp;
                        <div class="col-lg-4">
                            @Html.TextAreaFor(model => model.notes, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-4 col-xs-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="" id="RiskTreatmentDone"> Risk treatment sudah dilaksanakan
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                        @if (Model.RiskId != 0)
                        {
                            <a href="@Url.Action("RiskDetail", currentController, new { Area = "Risk", riskId = Model.RiskId })" class="btn btn-default">Cancel</a>
                        }
                        else
                        {
                            <a href="@Url.Action("", currentController, new { Area = "Risk" })" class="btn btn-default">Cancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $("textarea").kendoEditor({
            encoded: false,
            resizable: {
                content: true,
                toolbar: true
            }
        });

        var inputFileSelector = "#Evidence";

        function onRemove(e) {
            $(inputFileSelector).val("");
        }

        function onSelectFile(e) {
            var flagExtension = 0;
            var flagSize = 0;
            var allowedExtension = [".pdf"];
            var file = e.files;

            if (file[0].size > 10485760) {
                flagSize = 1;
            }

            if ($.inArray((file[0].extension).toLowerCase(), allowedExtension) === -1) {
                flagExtension = 1;
            }

            if (flagExtension == 1) {
                alert("Only .pdf files are allowed");
                e.preventDefault();
            }
            if (flagSize == 1) {
                alert("File size cannot exceed 10 MB");
                e.preventDefault();
            }

        }

        function onSuccessFile(e) {
            var filepath = e.response.filepath;
            $(inputFileSelector).val(filepath);
        }

        $("#KendoUploader").kendoUpload({
            multiple: false,
            async: {
                saveUrl: "@Url.Action("Save", "FileManagement", new { area = "" })",
                removeUrl: "@Url.Action("Remove", "FileManagement", new { area = "" })",
                autoUpload: true
            },
            select: onSelectFile,
            success: onSuccessFile,
            remove: onRemove
        });
    </script>
}