@model WebUI.Areas.Risk.Models.Risk.RiskPresentationStub
@using WebUI.Areas.Risk.Models.Risk
@using WebUI.Areas.Risk.Models.RiskMitigation
@using WebUI.Areas.Risk.Models.RiskDocument
@using Common.Enums
@using System.Reflection
@using WebUI.Extension
@using WebUI.Controllers

@{
    ViewBag.Title = "Risiko";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.Risk.Controllers.RiskController)ViewContext.Controller;

    Common.Enums.EnumHelper eh = new Common.Enums.EnumHelper();
    FileNameProcessController fn = new FileNameProcessController();

    List<RiskPresentationStub> risks = new List<RiskPresentationStub>();
    if (ViewBag.Risks != null)
    {
        risks = (List<RiskPresentationStub>) ViewBag.Risks;
    }

    List<RiskDocumentPresentationStub> riskDocuments = new List<RiskDocumentPresentationStub>();
    if (ViewBag.RiskDocuments != null)
    {
        riskDocuments = (List<RiskDocumentPresentationStub>)ViewBag.RiskDocuments;
    }
}

<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="form-inline">
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @id = "formRisk", @class = "left-align not-track-change" }))
{
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year) &nbsp;
                            @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearOptions, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                </div>
}
            </div>
        </div>
    </div>

    <div class="ibox ">
        <div class="ibox-title">
            <h5>Top Risiko</h5>
        </div>
        <div class="ibox-content">
            <div class="mb-15">
                <a href="/Risk/Risk/AddRisk" class="btn btn-primary">Tambah Risiko</a>
            </div>
            @if (risks.Count() > 0)
            {
                // NEW MODERN TECHNOLOGY 2017 KENDO UI GRID !!! WOOOOOOOOOOOOOOOO
                <table id="riskGrid">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Proses Bisnis</th>
                            <th>Kejadian Risiko (Risk Event)</th>
                            <th>Klasifikasi Risiko (Residual)</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                
                // OLD TABLE 
                @*<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Proses Bisnis</th>
                            <th>Kejadian Risiko (Risk Event)</th>
                            <th>Klasifikasi Risiko (Residual)</th>
                            <th></th>
                        </tr>
                    </thead>
                    @{
                        int row = 0;
                        foreach (RiskPresentationStub risk in risks)
                        {
                            <tr class="row_panelbar" row="@row">
                                <td>@risk.RiskNumber</td>
                                <td>@risk.ProcessBusiness</td>
                                <td>@Html.Raw(risk.RiskEvent)</td>
                                <td><span class="circle circle-@risk.RiskClasification.ToLower()"></span></td>
                                <td>
                                    <a href="@Url.Action("RiskDetail", currentController, new { Area = "Risk", riskId = risk.RiskId })"><i class="fa fa-folder-open"></i></a>
                                    <a href="#" onclick="delete_risk(@risk.RiskId); return false;"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            if (risk.RiskMitigations.Count() > 0)
                            {
                                <tr id="row_mitigation-@row">
                                    <td></td>
                                    <td colspan="4">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" colspan="2">Rencana Mitigasi</th>
                                                    <th colspan="12">Bulan</th>
                                                </tr>
                                                <tr>
                                                    <th>1</th>
                                                    <th>2</th>
                                                    <th>3</th>
                                                    <th>4</th>
                                                    <th>5</th>
                                                    <th>6</th>
                                                    <th>7</th>
                                                    <th>8</th>
                                                    <th>9</th>
                                                    <th>10</th>
                                                    <th>11</th>
                                                    <th>12</th>
                                                </tr>
                                            </thead>
                                            @foreach (RiskMitigationFormStub riskMitigation in risk.RiskMitigations)
                                            {
                                                <tr>
                                                    <td rowspan="2">@Html.Raw(riskMitigation.MitigationPlan)</td>
                                                    <td class="">Plan</td>
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        <td class="@((riskMitigation.Plan == i) ? "bg-blue" : "")"></td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="">Actual</td>
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        <td class="@((riskMitigation.Actual == i) ? "bg-green" : "")"></td>
                                                    }
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }
                            row++;
                        }
                    }
                </table>*@
            }
            else
            {
                <div id="grid-nkk" data-role="grid" class="label label-warning" style="">Data belum ada</div>
            }
        </div>
    </div>
    @Html.Partial("_RiskDocument", riskDocuments)
</div>

@section scripts{
    @Scripts.Render("~/bundles/risk")

    @* Template untuk row risk *@
    <script id="riskRowTemplate" type="text/x-kendo-tmpl">
        <tr class="k-master-row" data-RiskId="#: RiskId #">
            <td class="k-hierarchy-cell"><a href="\#" class="k-icon k-plus"></a></td>
            <td>#:RiskNumber#</td>
            <td>#:ProcessBusiness#</td>
            <td>#=RiskEvent#</td>
            # RiskClasification = RiskClasification.toLowerCase() #
            <td><span class="circle circle-#:RiskClasification#"></span></td>
            <td>
                <a href="/Risk/Risk/RiskDetail?riskId=#=RiskId#"><i class="fa fa-folder-open"></i></a>
                <a href="\#" onclick="delete_risk(#=RiskId#); return false;"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </script>
    
    @* Template untuk row risk mitigation *@
    <script id="riskRowMitigationTemplate" type="text/x-kendo-tmpl">
        <tr data-MitigationId="#: MitigationId #">
            <td rowspan="2">#=MitigationPlan#</td>
            <td>Plan</td>
            #
            var curClass = "";
            for (i = 1; i <= 12; i++)
            {
                if (Plan == i)
                    curClass = "bg-blue";
                else
                    curClass = "";
            #
                <td class="#=curClass#"></td>
            # 
            } 
            #
        </tr>
        <tr>
            <td style="border-left-width: thin">Actual</td>
            #
            curClass = "";
            for (i = 1; i <= 12; i++)
            {
                if (Actual == i)
                    curClass = "bg-green";
                else
                    curClass = "";
            #
                <td class="#=curClass#"></td>
            #
            }
            #
        </tr>
    </script>

    <script>
        $(document).ready(function () {
            var element = $("#riskGrid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "@Url.Action("GetJsonRisks", currentController, new { Area = "Risk", year = Model.Year })"
                    },
                    pageSize: 10,
                    serverPaging: false,
                    serverSorting: true
                },
                rowTemplate: kendo.template($("#riskRowTemplate").html()),
                sortable: true,
                pageable: true,
                columns:
                [
                    { title: "No.", width: 100 },
                    { title: "Proses Bisnis", width: 200 },
                    { title: "Kejadian Risiko (Risk Event)", width: 200 },
                    { title: "Klasifikasi Risiko (Residual)", width: 120 },
                    { width: 40 }
                ],
                detailInit: detailInit,
                dataBound: function () {
                    //ga usah di expand kan defaultnya
                    //this.expandRow(this.tbody.find("tr.k-master-row").first());
                }
            });


            // OLD TABLE FUCTION :(
            //$("[id|='row_mitigation']").hide();

            //var bgcolor = "#fff";
            //$(".row_panelbar").hover(
            //    function () {
            //        bgcolor = $(this).css("background-color");
            //        $(this).css("background-color", "#ccc");
            //    },
            //    function () {
            //        $(this).css("background-color", bgcolor);
            //    });
            //$(".row_panelbar").click(function () {
            //    $("#row_mitigation-" + $(this).attr("row")).slideToggle(0);
            //});
        });

        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Risk/Risk/GetJsonRiskMitigations?riskId=" + e.data.RiskId
                    },
                    serverPaging: false,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10
                },
                rowTemplate: kendo.template($("#riskRowMitigationTemplate").html()),
                scrollable: false,
                sortable: true,
                pageable: true,
                columns:
                [
                    {
                        title: "Rencana Mitigasi",
                        columns:
                        [
                            {},
                            {width: 60}
                        ]
                    },
                    {
                        title: "Bulan",
                        columns:
                        [
                            { title:  "1", width: 30 },
                            { title:  "2", width: 30 },
                            { title:  "3", width: 30 },
                            { title:  "4", width: 30 },
                            { title:  "5", width: 30 },
                            { title:  "6", width: 30 },
                            { title:  "7", width: 30 },
                            { title:  "8", width: 30 },
                            { title:  "9", width: 30 },
                            { title: "10", width: 30 },
                            { title: "11", width: 30 },
                            { title: "12", width: 30 }
                        ]
                    }
                ]
            });
        }

        function delete_risk(riskId) {
            var url = "@Url.Action("DeleteRisk", currentController, new { Area = "Risk" })";
            var data = { id: riskId };
            var url_redirect = "@Url.Action("Index", currentController, new { Area = "Risk" })";
            deleteThenRedirect(url, data, url_redirect);
        }

        function delete_risk_document(documentId) {
            var url = "@Url.Action("DeleteRiskDocument", currentController, new { Area = "Risk" })";
            var data = { id: documentId };
            var url_redirect = "@Url.Action("Index", currentController, new { Area = "Risk" })";
            deleteThenRedirect(url, data, url_redirect);
        }
</script>
}