@model WebUI.Areas.Risk.Models.Risk.RiskPresentationStub
@using WebUI.Areas.Risk.Models.Risk
@using WebUI.Areas.Risk.Models.RiskMitigation
@using Common.Enums
@using System.Reflection
@using WebUI.Extension
@{
    ViewBag.Title = "Risiko";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.Risk.Controllers.RiskController)ViewContext.Controller;

    Common.Enums.EnumHelper eh = new Common.Enums.EnumHelper();

    List<RiskPresentationStub> risks = new List<RiskPresentationStub>();
    if (ViewBag.Risks != null)
    {
        risks = (List<RiskPresentationStub>) ViewBag.Risks;
    }
}

<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="form-inline">
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @id = "formRisk", @class = "left-align not-track-change" }))
{
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year) &nbsp;
                            @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearOptions, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                </div>
}
            </div>
        </div>
    </div>

    <div class="ibox ">
        <div class="ibox-title">
            <h5>Top Risiko</h5>
        </div>
        <div class="ibox-content">
            <div class="mb-15">
                <a href="/Risk/Risk/AddRisk" class="btn btn-primary">Tambah Risiko</a>

                <!-- <div class="pull-right">
                    <a href="excel.php" class="btn btn-primary">Upload Excel</a>
                </div> -->
            </div>
            @if (risks.Count() > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Proses Bisnis</th>
                            <th>Kejadian Risiko (Risk Event)</th>
                            <th>Klasifikasi Risiko (Residual)</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (RiskPresentationStub risk in risks)
                    {
                        <tr>
                            <td>@risk.RiskNumber</td>
                            <td>@risk.ProcessBusiness</td>
                            <td>@risk.RiskEvent</td>
                            <td><span class="circle circle-@risk.RiskClasification.ToLower()"></span></td>
                            <td><a href="@Url.Action("RiskDetail", currentController, new { Area = "Risk", riskId = risk.RiskId })"><i class="fa fa-folder-open"></i></a> <a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        if (risk.RiskMitigations.Count() > 0)
                        {
                            <tr>
                                <td></td>
                                <td colspan="4">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" colspan="2">Rencana Mitigasi</th>
                                                <th colspan="12">Bulan</th>
                                            </tr>
                                            <tr>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>5</th>
                                                <th>6</th>
                                                <th>7</th>
                                                <th>8</th>
                                                <th>9</th>
                                                <th>10</th>
                                                <th>11</th>
                                                <th>12</th>
                                            </tr>
                                        </thead>
                                        @foreach (RiskMitigationFormStub riskMitigation in risk.RiskMitigations)
                                        {
                                            <tr>
                                                <td rowspan="2">@riskMitigation.MitigationPlan</td>
                                                <td class="">Plan</td>
                                                @for (int i = 1; i <= 12; i++)
                                                {
                                                    <td class="@((riskMitigation.Plan == i) ? "bg-blue" : "")"></td>
                                                }
                                            </tr>
                                            <tr>
                                                <td class="">Actual</td>
                                                @for (int i = 1; i <= 12; i++)
                                                {
                                                    <td class="@((riskMitigation.Actual == i) ? "bg-green" : "")"></td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div id="grid-nkk" data-role="grid" class="label label-warning" style="">Data belum ada</div>
            }
        </div>
    </div>

    <div class="ibox ">
        <div class="ibox-title">
            <h5>Dokumen Risiko</h5>
        </div>
        <div class="ibox-content">
            <div class="mb-15">
                <a href="form.php" class="btn btn-primary">Upload Dokumen</a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-xs-3">Dokumen</th>
                        <th class="col-xs-3">Keterangan</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="#">Risk 2017 Final.pdf</a></td>
                    <td></td>
                    <td><a href="#"><i class="fa fa-edit" aria-hidden="true"></i></a><a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td><a href="#">Notulen.pdf</a></td>
                    <td>Notulen meeting persetujuan risiko Pertagas 2017</td>
                    <td><a href="#"><i class="fa fa-edit" aria-hidden="true"></i></a><a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/risk")
}