@using Common.Enums
@using System.Reflection
@using WebUI.Models
@{
    ViewBag.Title = "Dashboard";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    Common.Enums.EnumHelper eh = new Common.Enums.EnumHelper();
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div id="riskDetailPopup">
        <table id="riskGrid">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Proses Bisnis</th>
                    <th>Kejadian Risiko (Risk Event)</th>
                    <th>Klasifikasi Risiko (Residual)</th>
                    @*<th></th>*@
                </tr>
            </thead>
        </table>
    </div>

    <div class="row" id="financeContent">
        <div class="col-lg-3"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>
        <div class="col-lg-3"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>
        <div class="col-lg-3"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>
        <div class="col-lg-3"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>
    </div>

    <div class="row">
        @*Kolom Operasi*@
        <div class="col-lg-4" id="operationContent"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>
        
        @*Kolom Investasi*@
        <div class="col-lg-4" id="investmentContent"><div class="ibox float-e-margins"><div class="ibox-title"><div class="ibox-content loader"></div></div></div></div>

        @*Kolom Top Risk*@
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div id="panel-toprisk" class="ibox-title">
                    <span class="label label-success pull-right">
                        @DateTime.Now.ToString("MMM \\'yy")
                    </span>
                    <h5>
                        Top Risiko
                        <span id="tooltipTopRisk" class="glyphicon glyphicon-question-sign m-l-xs" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" data-container="body" title="Top Risiko"></span>
                    </h5>
                    <div class="form-inline pull-left mb-15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="RiskType" value="INHERENT"> Inherent
                        <input type="radio" name="RiskType" value="RESIDUAL" checked> Residual
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="risk-matrix" id="risk_table">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //var riskGrid;
        $(document).ready(function (e) {
            initTooltipText();

            riskDetailPopUpHtml = $("#riskDetailPopup").html();
            //riskGridHtml = $("#riskGrid").html();

            $("#riskDetailPopup").kendoWindow({
                width: "75%",
                height: "75%",
                title: "Risiko",
                modal: true,
                visible: false
            });

            // ambil data toprisk
            GetTopRisk();

            // ambil data finance
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetFinanceInfo", currentController)",
                data: "",
                success: function(result) {
                    $("#financeContent").html(result);
                }
            });

            // ambil data operation
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetOperationInfo", currentController)",
                data: "",
                success: function (result) {
                    $("#operationContent").html(result);
                }
            });

            // ambil data investment
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetInvestmentInfo", currentController)",
                data: "",
                success: function (result) {
                    $("#investmentContent").html(result);
                }
            });
        });

        $("input[name=RiskType]").change(function () {
            $("#risk_table").html("<div class='loader'></div>");
            GetTopRisk();
        });

        function GetTopRisk() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetTopRisk", "Risk", new { Area = "Risk" })",
                data: {
                    type: $("input[name=RiskType]:checked").val()
                },
                success: function (result) {
                    $("#risk_table").html(result);
                }
            });
        }

        function openRiskDetailPopup(riskIdList) {

            //inisialisasi ulang
            // kalo udah ke set, destroy dulu
            if ($("#riskGrid").data("kendoGrid") !== undefined)
            {
                $("#riskGrid").data("kendoGrid").destroy();
                $("#riskGrid").empty();
            }
            $("#riskDetailPopup").html(riskDetailPopUpHtml);
            $("#riskDetailPopup").kendoWindow({
                width: "75%",
                height: "75%",
                title: "Risiko",
                modal: true
            });

            $("#riskGrid").kendoGrid({
                dataSource: {
                    pageSize: 3,
                    serverPaging: false,
                    serverSorting: true
                },
                rowTemplate: kendo.template($("#riskRowTemplate").html()),
                sortable: true,
                pageable: true,
                columns:
                [
                    { title: "No.", width: 100 },
                    { title: "Proses Bisnis", width: 150 },
                    { title: "Kejadian Risiko (Risk Event)", width: 250 },
                    { title: "Klasifikasi Risiko (Residual)", width: 150 }
                ],
                detailInit: detailInit
            });

            $.ajax(
                {
                    type: 'GET',
                    url: "@Url.Action("GetJsonTopRiskDetailIndex", "Risk", new { Area = "Risk" })" + "?riskIdList=" + riskIdList,
                    dataType: 'json',
                    success: function (result) {
                        $("#riskGrid").data("kendoGrid").dataSource.data(result);
                    }
                });

            $("#riskDetailPopup").data("kendoWindow").center().open();
        };

        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "@Url.Action("GetJsonRiskMitigations", "Risk", new { Area = "Risk" })" + "?riskId=" + e.data.RiskId
                    },
                    serverPaging: false,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10
                },
                rowTemplate: kendo.template($("#riskRowMitigationTemplate").html()),
                scrollable: false,
                sortable: true,
                pageable: true,
                columns:
                [
                    {
                        title: "Rencana Mitigasi",
                        columns:
                        [
                            {},
                            {width: 60}
                        ]
                    },
                    {
                        title: "Bulan",
                        columns:
                        [
                            { title:  "1", width: 32 },
                            { title:  "2", width: 32 },
                            { title:  "3", width: 32 },
                            { title:  "4", width: 32 },
                            { title:  "5", width: 32 },
                            { title:  "6", width: 32 },
                            { title:  "7", width: 32 },
                            { title:  "8", width: 32 },
                            { title:  "9", width: 32 },
                            { title: "10", width: 32 },
                            { title: "11", width: 32 },
                            { title: "12", width: 32 }
                        ]
                    }
                ]
            });
        }

        function delete_risk(riskId) {
            var url = "@Url.Action("DeleteRisk", "Risk", new { Area = "Risk" })";
            var data = { id: riskId };
            var url_redirect = "@Url.Action("Index", "Risk", new { Area = "Risk" })";
            deleteThenRedirect(url, data, url_redirect);
        }

        function initTooltipText() {
            $("#tooltipTopRisk").kendoTooltip({
                position: "top",
                content: kendo.template($("#tooltipTopRiskTemplate").html())
            });
        }
    </script>
    
    @Scripts.Render("~/bundles/risk")

    @* Template untuk row risk *@
    <script id="riskRowTemplate" type="text/x-kendo-tmpl">
        <tr class="k-master-row" data-RiskId="#: RiskId #">
            <td class="k-hierarchy-cell"><a href="\#" class="k-icon k-plus"></a></td>
            <td>#:RiskNumber#</td>
            <td>#:ProcessBusiness#</td>
            <td>#=RiskEvent#</td>
            # RiskClasification = RiskClasification.toLowerCase() #
            <td><span class="circle circle-#:RiskClasification#"></span></td>
            @*<td>
                <a href="/Risk/Risk/RiskDetail?riskId=#=RiskId#"><i class="fa fa-folder-open"></i></a>
                <a href="\#" onclick="delete_risk(#=RiskId#); return false;"><i class="fa fa-trash"></i></a>
            </td>*@
        </tr>
    </script>

    @* Template untuk row risk mitigation *@
    <script id="riskRowMitigationTemplate" type="text/x-kendo-tmpl">
        <tr data-MitigationId="#: MitigationId #">
            <td rowspan="2">#=MitigationPlan#</td>
            <td>Plan</td>
            #
            var curClass = "";
            for (i = 1; i <= 12; i++)
            {
            if (Plan == i)
            curClass = "bg-blue";
            else
            curClass = "";
            #
            <td class="#=curClass#"></td>
            #
            }
            #
        </tr>
        <tr>
            <td style="border-left-width: thin">Actual</td>
            #
            curClass = "";
            for (i = 1; i <= 12; i++)
            {
            if (Actual == i)
            curClass = "bg-green";
            else
            curClass = "";
            #
            <td class="#=curClass#"></td>
            #
            }
            #
        </tr>
    </script>
    <script id="tooltipTopRiskTemplate" type="text/x-kendo-tmpl">
        <div class="risk-legend">
            <span class="circle low"></span>&nbsp;Low<br />
            <span class="circle medlow"></span>&nbsp;Low to Moderate<br />
            <span class="circle med"></span>&nbsp;Moderate<br />
            <span class="circle medhigh"></span>&nbsp;Moderate to High<br />
            <span class="circle high"></span>&nbsp;High
        </div>
    </script>
}

    @Styles.Render("~/Content/loader")
